/* BODY STYLING */
body {
    text-align:center;
    background-image: url('../imgs/bgimg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
    height:100vh;
    width:100vw;
}